ENV_DIR=".env.d"
REACHARD_ENV=${REACHARD_ENV:-dev}

if [[ ! -d "${ENV_DIR}" ]]; then
    return
fi

if [[ -n "${REACHARD_ENV}" && -f "${ENV_DIR}/${REACHARD_ENV}.env" ]]; then
    source "${ENV_DIR}/${REACHARD_ENV}.env"
fi
